.form{
  text-decoration: none;
color:white;
}
.register{
  color: black;
  text-decoration: none;
}


.register:hover{
  text-decoration: none;
  color: white;
}

.form:hover{
  text-decoration: none;
  color: black;
}

.submit{
  color:white;

}